<!DOCTYPE html>
<html>
<head>
  <title>The SpotifyBook</title>
</head>
<body>
  <h1>Welcome to The SpotifyBook</h1>

  <div>
    <h2>WARNING!</h2>
    <p>In order to access the features that require Spotify login,  <br>
       you must send ryanchan339@gmail.com your email to be added to the users of this app(this is required by Spotify). <br>
    </p>
  </div>
  <a href="/search">
    <button>Spotify Search Bar</button>
  </a>
  
  <a href="/login">
    <button>Log In with Spotify</button>
  </a>

  
</body>
</html>
